# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Local env
.env